@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seneca Music Blog</h1>
    <p class="lead">A data model. Implement security. Post to a public web server.</p>
    <p><a href="http://senecamusic.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Seneca Music on Azure</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Required Senecamusic</h2>
        <p>
            How to build dynamic website following required needs from INT422 class!
        </p>
        <p><a class="btn btn-default" href="http://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment9.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Weekly Schedule</h2>
        <p>Getting weekly schedule for assignment during this semester</p>
        <p><a class="btn btn-default" href="http://scs.senecac.on.ca/~wei.song/int422/int422.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search on google</h2>
        <p>You can easily find a something that you have question on google web site.</p>
        <p><a class="btn btn-default" href="http://www.google.ca">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2> Check Point </h2>
        <ul style='margin-top:0in' type=disc>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size: 12.0pt; font-family: "Arial", sans-serif'>
                    Role claims are saved in the data store.
                </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
                    Rich text editing is supported, for artists and albums.
                </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
                    Sound clips can be saved with each track.
                </span>
            </li>
            <li class=MsoNormal style='line-height:normal'>
                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
                    A media gallery can be created for an artist.
                </span>
            </li>
        </ul>
    </div>
</div>